<div class="container mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl leading-9 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
    Angular Gráficos
    <br>
    <span class="text-blue-600">ng2-charts</span>
  </h2>
</div>

<div class="container mx-auto">
  <div class="flex flex-col lg:flex-row">
    <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1">
      <app-linea></app-linea>
    </div>
    <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1">
      <app-barras></app-barras>
    </div>
  </div>
  <div class="flex mt-5 flex-col lg:flex-row">
    <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1">
      <app-dona></app-dona>
    </div>
    <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1 ml-4">
      <app-radar></app-radar>
    </div>
  </div>
</div>

<div class="container mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl leading-9 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
    <span class="text-blue-600">Apex charts</span>
  </h2>
</div>

<div class="container mx-auto">
  <div class="flex flex-col lg:flex-row">
    <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1">
      <app-alinea></app-alinea>
    </div>
      <div class="my-1 px-1 w-full lg:w-1/2 sm:lg-1">
        <app-aarea></app-aarea>
      </div>
  </div>
</div><br><br>

<footer class="font-sans bg-blue-900 text-white py-8 px-4">
  <div class="mx-auto container overflow-hidden flex flex-col lg:flex-row justify-between">
    <a href="/" class="block mr-4 w-1/2">
      <img src="assets/img/icon.png" class="w-12" alt="logo">
    </a>
    <div class="w-1/2 flex text-sm mt-6 lg:mt-0">
      <ul class="text-gray-700 list-none p-0 font-thin flex flex-col text-left">
        <li class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide">
          <a href="https://valor-software.com/ng2-charts/" target="_blank" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline">ng2-charts</a>
        </li>
      </ul>
      <ul class="text-gray-700 list-none p-0 font-thin flex flex-col text-left">
        <li class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide">
          <a href="https://apexcharts.com/" target="_blank" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline">Apex charts</a>
        </li>
      </ul>

      <div class="text-blue-700 flex flex-col">
        <div class="inline-block py-2 px-3 text-white uppercase font-medium tracking-wide">Follow Us</div>
        <div class="flex pl-4 justify-start">
          <a class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline" href="https://github.com/alejandro7536/graficas" target="_blank"><i
              class="fab fa-github-alt"></i></a>
          <a class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline" href="https://www.linkedin.com/in/luis-alejandro-alas-gonz%C3%A1lez-0b6131125/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4 mt-4 text-white text-center"> ©{{year}} Alejandro Alas. All rights
    reserved.</div>
</footer>
